<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudiantes</title>
    <link rel="stylesheet" href="/css/globalStyle.css">
    <link rel="stylesheet" href="/css/estudiantesAdmin.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>ADMINISTRADOR</h3>
                </div>
                <ul>
                    <li><a href="/admin/perfil">Perfil</a></li>
                    <li><a href="/admin/matriculas">Matriculas</a></li>
                    <li><a href="/admin/estudiantes">Estudiantes</a></li>
                    <li><a href="/admin/mensualidades">Mensualidades</a></li>
                    <li><a href="/admin/personal_administrativo">Personal Admin</a></li>
                    <li><a href="/admin/aulasSecciones">Aulas/Secciones</a></li>
                    <li><a href="/admin/descuentos">Descuentos</a></li>
                    <li><a href="/admin/montosDefinidos">Montos Definidos</a></li>
                    <li><a href="/admin/pagos">Pagos</a></li>
                    <li><a href="/admin/periodos">Periodos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>LISTA DE ESTUDIANTES</h1>
                </div>
                <div class="reporte-matriculas">
                    <div class="filtrar">
                        <div class="filtro-por-dni">
                            <input type="text" placeholder="Buscar por DNI">
                        </div>
                    </div>
                    <div class="contenido-estudiantes contenido">
                        <div class="tabla-detalles">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>DNI Estudiante</th>
                                        <th>Fecha Matricula</th>
                                        <th>Seccion</th>
                                        <th>Periodo</th>
                                        <th>Estado</th>
                                        <th>Descuentos</th>
                                        <th>Titular</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/js/api/user_admin/apiEstudiantesAdmin.js"></script>
</body>

</html>