version: '3.8'

services:
  backend:
    build: ./backend
    container_name: my-backend
    restart: always
    env_file: .env
    ports:
      - "${BACKEND_PORT}:3000"
    # volumes:
      # - ./backend:/usr/src/app
    depends_on:
      - db
    networks:
      - my-network

  frontend:
    build: ./frontend
    container_name: my-frontend
    restart: always
    ports:
      - "${FRONTEND_PORT}:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    networks:
      - my-network

  db:
    image: mysql:8.0
    container_name: my-db
    restart: always
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      TZ: America/Lima
    volumes:
      - db_data:/var/lib/mysql
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3300:3306"
    networks:
      - my-network
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: my-phpmyadmin
    restart: always
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: db
      PMA_USER: ${DB_USER}
      PMA_PASSWORD: ${DB_PASSWORD}
    depends_on:
      - db
    networks:
      - my-network

volumes:
  db_data:

networks:
  my-network:
    driver: bridge

  