.perfil-card {
            width: 300px;
            background: transparent;
            border: 3px solid #111;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 32px 0 0 0;
            box-sizing: border-box;
        }
        .perfil-avatar {
            width: 130px;
            height: 130px;
            background: #d3d3d3;
            border-radius: 50%;
            margin-bottom: 24px;
        }
        .perfil-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .perfil-info .perfil-item {
            width: 90%;
            text-align: center;
            color: #fff;
            font-size: 1.1rem;
            margin: 0;
            padding: 16px 0;
            border-bottom: 2px solid #111;
            background: transparent;
        }
        
        .perfil-rol {
            width: 90%;
            padding: 12px 0;
            background: transparent;
            border-bottom: 1px solid black;
            color: #fff;
            text-align: center;
            font-size: 1.1rem;
        }