<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensualidades</title>
    <link rel="stylesheet" href="/css/globalStyle.css">
    <link rel="stylesheet" href="/css/aulasSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>ADMINISTRADOR</h3>
                </div>
                <ul>
                    <li><a href="/admin/perfil">Perfil</a></li>
                    <li><a href="/admin/matriculas">Matriculas</a></li>
                    <li><a href="/admin/estudiantes">Estudiantes</a></li>
                    <li><a href="/admin/mensualidades">Mensualidades</a></li>
                    <li><a href="/admin/personal_administrativo">Personal Admin</a></li>
                    <li><a href="/admin/aulasSecciones">Aulas/Secciones</a></li>
                    <li><a href="/admin/descuentos">Descuentos</a></li>
                    <li><a href="/admin/montosDefinidos">Montos Definidos</a></li>
                    <li><a href="/admin/pagos">Pagos</a></li>
                    <li><a href="/admin/periodos">Periodos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
                <div>
                    <a href="/admin/mensualidades/meses"><button>Meses</button></a>
                </div>
                <div>
                    <a href="/admin/mensualidades/deudores"><button>Lista de Deudores</button></a>
                </div>
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>MENSUALIDADES</h1>
                </div>
                <div class="aulas">
                    <div class="filtros">
                        <div class="filtro-nivel">
                            <label for="filtro-nivel">Nivel:</label>
                            <select id="filtro-nivel">
                                <option value="todos">Todos</option>
                                <option value="inicial">Inicial</option>
                                <option value="primaria">Primaria</option>
                                <option value="secundaria">Secundaria</option>
                            </select>
                        </div>
                        <div class="filtro-grado">
                            <label for="filtro-grado">Grado:</label>
                            <select id="filtro-grado">
                                <option value="todos">Todos</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="filtro-anio-academico">
                            <label for="filtro-grado">Año Academico:</label>
                            <select id="filtro-grado">
                                <option value="todos">Todos</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="filtro-periodo">
                            <label for="filtro-grado">Periodo:</label>
                            <select id="filtro-grado">
                                <option value="todos">Todos</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="nivel-secciones">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/js/api/user_admin/apiMensualidadesAdmin.js"></script>
</body>

</html>