<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas/Secciones</title>
    <link rel="stylesheet" href="/public/css/globalStyle.css">
    <link rel="stylesheet" href="/public/css/aulasSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>USUARIO: </h3>
                </div>
                <ul>
                    <li><a href="/secretario/perfil">Perfil</a></li>
                    <li><a href="/secretario/aulas">Aulas/Secciones</a></li>
                    <li><a href="/secretario/matriculas">Matriculas</a></li>
                    <li><a href="/secretario/registrar_matricula">Registrar Matricula</a></li>
                    <li><a href="/secretario/anio_academico">Año Academico</a></li>
                    <li><a href="/secretario/periodos">Periodos</a></li>
                    <li><a href="/secretario/mensualidades">Mensualidades</a></li>
                    <li><a href="/secretario/estudiantes">Estudiantes</a></li>
                    <li><a href="/secretario/descuentos">Descuentos</a></li>
                    <li><a href="/secretario/definir_monto">Definir Montos</a></li>
                    <li><a href="/secretario/pagos">Pagos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>MENSUALIDADES</h1>
                </div>
                <div class="aulas">
                    <div class="filtros">
                        <div class="filtro-nivel">
                            <label for="filtro-nivel">Nivel:</label>
                            <select id="filtro-nivel">
                                <option value="todos">Todos</option>
                                <option value="inicial">Inicial</option>
                                <option value="primaria">Primaria</option>
                                <option value="secundaria">Secundaria</option>
                            </select>
                        </div>
                        <!-- <div class="filtro-grado">
                            <label for="filtro-grado">Grado:</label>
                            <select id="filtro-grado">
                                <option value="todos">Todos</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="filtro-anio-academico">
                            <label for="filtro-grado">Año Academico:</label>
                            <select id="filtro-grado">
                                <option value="todos">Todos</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                        <div class="filtro-periodo">
                            <label for="filtro-grado">Periodo:</label>
                            <select id="filtro-grado">
                                <option value="todos">Todos</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div> -->
                    </div>
                    <div class="nivel-secciones">
                        <div class="nivel">
                            <div class="datos-nivel">
                                <div class="titulo-nivel">
                                    <h2>Secundario</h4>
                                </div>
                                <div class="tot-est">
                                    <p>Total de Estudiantes: 30</p>
                                </div>
                                
                            </div>
                            <div class="secciones">
                                <div class="datos-seccion">
                                    <div class="titulo-seccion">
                                        <h3>1ro B</h4>
                                    </div>
                                    <div class="tot-estud-seccion">
                                        <p>Total Estud: 20</p>
                                    </div>
                                    <div class="estado-seccion">
                                        <p>Estado: Activo</p>
                                    </div>
                                    <div class="pdf-deudores">
                                        <button>Descargar PDF Deudores</button>
                                    </div>
                                </div>
                                <div class="datos-seccion">
                                    <div class="titulo-seccion">
                                        <h3>1ro B</h4>
                                    </div>
                                    <div class="tot-estud-seccion">
                                        <p>Total Estud: 20</p>
                                    </div>
                                    <div class="estado-seccion">
                                        <p>Estado: Activo</p>
                                    </div>
                                    <div class="pdf-deudores">
                                        <button>Descargar PDF Deudores</button>
                                    </div>
                                </div>
                                <div class="datos-seccion">
                                    <div class="titulo-seccion">
                                        <h3>1ro B</h4>
                                    </div>
                                    <div class="tot-estud-seccion">
                                        <p>Total Estud: 20</p>
                                    </div>
                                    <div class="estado-seccion">
                                        <p>Estado: Activo</p>
                                    </div>
                                    <div class="pdf-deudores">
                                        <button>Descargar PDF Deudores</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/api/user_secretario/apiPeriodos.js"></script>
</body>

</html>