.aulas{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.filtros{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.nivel-secciones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 98%;
    justify-content: space-evenly;
}

.nivel{
    display: flex;
    width: 100%;
    border: 3px solid black;
    flex-direction: column;
}

.datos-nivel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 3px solid black;
}

.nivel .datos-nivel div{
    display: flex;
    border-right: 3px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    width: 100%;
}
.nivel .datos-nivel div p{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    font-size: 110%;
}
.datos-nivel {
    display: flex;

}

.datos-seccion{
    display: flex;
    margin: 20px;
    border: 3px solid black;
    max-width: 40%;
}

.datos-seccion:hover {
    cursor:pointer;
}

.datos-seccion div{
    display: flex;
    border-right: 3px solid black;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
    max-width: 50%;
    width: 100%;
}

.secciones{
    display: flex;
    width: 100%;
    justify-content:space-evenly ;
    flex-wrap: wrap;
}