.detalles-estudiante{
    display:flex;
    width: 100%;
    justify-content:center;
    align-items:center;
}

.datos-estudiante{
    display:flex;
    width: 100%;
    justify-content:space-evenly;
    flex-wrap:wrap;
    align-items:center;
}
.padre-estudiante, .estudiante, .madre-estudiante{
    border:3px solid black;
    max-width: 300px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titulo{
    border-bottom: 3px solid black;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.datos{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 17px;
}

.datos ul li{
    list-style-type: none;
}
