.reporte-matriculas{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mas-detalles-matriculas{
    display: flex;
    width: 100%;
    justify-content: center;
}