.matriculas{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.encabezado{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.datosadicionales{
    width: 50%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.datosadicionales div{
    border: 3px solid black;
    padding: 5px;
}
.detalles-matriculas{
    display: flex;
    width: 100%;
    justify-content: center;
}