.contenido-pagos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.modulo-pagos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.datos-pagos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.titulo-pago{
    display:flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    
}
.formulario-pagos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.datos-registro-pago{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.datos-registro-pago div{
    display: flex;
    flex-direction: column;
}