.formulario-matricula{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-matricula{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap:10px;
    width: 100%;
    margin-top: 20px;
}

.seleciones-matricula{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}



.datos-principales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px;
    font-size: 18px;
    gap:10px;
}

.datos-principales div{
    display: flex;
    width: auto;
    flex-direction: column;
}


.titulo-estudiante, .titulo-madre, .titulo-padre, .titulo-tutor{
    border-bottom: 3px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.datos-estudiante, .datos-madre, .datos-padre, .datos-tutor{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 100%;
}

.datos-tutor{
    display: none;
}

form button{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}