<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matriculas</title>
    <link rel="stylesheet" href="/public/css/globalStyle.css">
    <link rel="stylesheet" href="/public/css/registrarMatSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>USUARIO: </h3>
                </div>
                <ul>
                    <li><a href="/secretario/perfil">Perfil</a></li>
                    <li><a href="/secretario/aulas">Aulas/Secciones</a></li>
                    <li><a href="/secretario/matriculas">Matriculas</a></li>
                    <li><a href="/secretario/registrar_matricula">Registrar Matricula</a></li>
                    <li><a href="/secretario/anio_academico">Año Academico</a></li>
                    <li><a href="/secretario/periodos">Periodos</a></li>
                    <li><a href="/secretario/mensualidades">Mensualidades</a></li>
                    <li><a href="/secretario/estudiantes">Estudiantes</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>REGISTRAR MATRICULA</h1>
                </div>
                <div class="registrar-matricula">
                    <div class="seleciones-matricula">
                        <div>
                            <label for="anio_academico">Año Academico</label>
                            <select name="anio_" id="anio_academico">
                                <option value="0">00000000</option>
                                <option value="">00000000</option>

                            </select>
                        </div>
                        <div>
                            <label for="periodo">Periodo</label>
                            <select name="" id="periodo">
                                <option value="">00000000</option>
                                <option value="">00000000</option>

                            </select>
                        </div>
                        <div>
                            <label for="para_nivel">Para nivel</label>
                            <select name="" id="para_nivel">
                                <option value="">00000000</option>
                                <option value="">00000000</option>
                            </select>
                        </div>
                        <div>
                            <label for="para_grado">Para grado</label>
                            <select name="" id="para_grado">
                                <option value="">00000000</option>
                                <option value="">00000000</option>
                            </select>
                        </div>
                        <div>
                            <label for="para_seccion">Para seccion</label>
                            <select name="" id="para_seccion">
                                <option value="">00000000</option>
                                <option value="">00000000</option>
                            </select>
                        </div>
                        <div>
                            <label for="traslado">Traslado</label>
                            <select name="" id="traslado">
                                <option value="">00000000</option>
                                <option value="">00000000</option>
                            </select>
                        </div>
                        <div>
                            <label for="tutor">Tutor</label>
                            <select name="" id="tutor">
                                <option value="">00000000</option>
                                <option value="">00000000</option>
                            </select>
                        </div>
                    </div>
                    <div class="formulario-matricula">
                        <form action="">
                            <div class="datos-matricula">
                                <div class="datos-padre">
                                    <div class="titulo-padre">
                                        <h2>Datos Padre</h2>
                                    </div>
                                    <div class="datos-principales">
                                        <div>
                                            <label for="name">Nombre</label>
                                            <input type="text" placeholder="Nombre...">
                                        </div>
                                        <div>
                                            <label for="">Apellido</label>
                                            <input type="text" placeholder="Apellido...">
                                        </div>
                                        <div>
                                            <label for="">DNI</label>
                                            <input type="text" placeholder="DNI...">
                                        </div>
                                        <div>
                                            <label for="">Fecha Nacimiento</label>
                                            <input type="text" placeholder="Fecha Nacimiento...">
                                        </div>
                                        <div>
                                            <label for="">Direccion domicilio</label>
                                            <input type="text" placeholder="Direccion domicilio...">
                                        </div>
                                        <div>
                                            <label for="">Parentesco</label>
                                            <input type="text" placeholder="Parentesco...">
                                        </div>
                                        <div>
                                            <label for="">Telefono</label>
                                            <input type="text" placeholder="Telefono...">
                                        </div>
                                        <div>
                                            <label for="">Ocupacion</label>
                                            <input type="text" placeholder="Ocupacion...">
                                        </div>
                                        <div>
                                            <label for="">Correo</label>
                                            <input type="text" placeholder="Correo electronico...">
                                        </div>
                                        <div>
                                            <label for="">Observaciones</label>
                                            <input type="text" placeholder="Obervaciones...">
                                        </div>
                                    </div>
                                </div>
                                <div class="datos-estudiante">
                                    <div class="titulo-estudiante">
                                        <h2>Datos Estudiante</h2>
                                    </div>
                                    <div class="datos-principales">
                                        <div>
                                            <label for="">Nombre</label>
                                            <input type="text" placeholder="Nombre...">
                                        </div>
                                        <div>
                                            <label for="">Apellido</label>
                                            <input type="text" placeholder="Apellido...">
                                        </div>
                                        <div>
                                            <label for="">DNI</label>
                                            <input type="text" placeholder="DNI...">
                                        </div>
                                        <div>
                                            <label for="">Fecha Nacimiento</label>
                                            <input type="text" placeholder="Fecha Nacimiento...">
                                        </div>
                                        <div>
                                            <label for="">Direccion domicilio</label>
                                            <input type="text" placeholder="Direccion domicilio...">
                                        </div>
                                        <div>
                                            <label for="">Vive con los padres</label>
                                            <input type="text" placeholder="Vive con los padres...">
                                        </div>
                                        <div>
                                            <label for="">Edad</label>
                                            <input type="text" placeholder="Edad...">
                                        </div>
                                        <div>
                                            <label for="">Genero</label>
                                            <input type="text" placeholder="Genero...">
                                        </div>
                                        <div>
                                            <label for="">Discapacidad</label>
                                            <input type="text" placeholder="Discapacidad...">
                                        </div>
                                    </div>
                                </div>
                                <div class="datos-madre">
                                    <div class="titulo-madre">
                                        <h2>Datos Madre</h2>
                                    </div>
                                    <div class="datos-principales">
                                        <div>
                                            <label for="name">Nombre</label>
                                            <input type="text" placeholder="Nombre...">
                                        </div>
                                        <div>
                                            <label for="">Apellido</label>
                                            <input type="text" placeholder="Apellido...">
                                        </div>
                                        <div>
                                            <label for="">DNI</label>
                                            <input type="text" placeholder="DNI...">
                                        </div>
                                        <div>
                                            <label for="">Fecha Nacimiento</label>
                                            <input type="text" placeholder="Fecha Nacimiento...">
                                        </div>
                                        <div>
                                            <label for="">Direccion domicilio</label>
                                            <input type="text" placeholder="Direccion domicilio...">
                                        </div>
                                        <div>
                                            <label for="">Parentesco</label>
                                            <input type="text" placeholder="Parentesco...">
                                        </div>
                                        <div>
                                            <label for="">Telefono</label>
                                            <input type="text" placeholder="Telefono...">
                                        </div>
                                        <div>
                                            <label for="">Ocupacion</label>
                                            <input type="text" placeholder="Ocupacion...">
                                        </div>
                                        <div>
                                            <label for="">Correo</label>
                                            <input type="text" placeholder="Correo electronico...">
                                        </div>
                                        <div>
                                            <label for="">Observaciones</label>
                                            <input type="text" placeholder="Obervaciones...">
                                        </div>
                                    </div>
                                </div>
                                <div class="datos-tutor">
                                    <div class="titulo-tutor">
                                        <h2>Datos Tutor</h2>
                                    </div>
                                    <div class="datos-principales">
                                        <div>
                                            <label for="name">Nombre</label>
                                            <input type="text" id="nombre" placeholder="Nombre...">
                                        </div>
                                        <div>
                                            <label for="">Apellido</label>
                                            <input type="text" placeholder="Apellido...">
                                        </div>
                                        <div>
                                            <label for="">DNI</label>
                                            <input type="text" placeholder="DNI...">
                                        </div>
                                        <div>
                                            <label for="">Fecha Nacimiento</label>
                                            <input type="text" placeholder="Fecha Nacimiento...">
                                        </div>
                                        <div>
                                            <label for="">Direccion domicilio</label>
                                            <input type="text" placeholder="Direccion domicilio...">
                                        </div>
                                        <div>
                                            <label for="">Parentesco</label>
                                            <input type="text" placeholder="Parentesco...">
                                        </div>
                                        <div>
                                            <label for="">Telefono</label>
                                            <input type="text" placeholder="Telefono...">
                                        </div>
                                        <div>
                                            <label for="">Ocupacion</label>
                                            <input type="text" placeholder="Ocupacion...">
                                        </div>
                                        <div>
                                            <label for="">Correo</label>
                                            <input type="text" placeholder="Correo electronico...">
                                        </div>
                                        <div>
                                            <label for="">Observaciones</label>
                                            <input type="text" placeholder="Obervaciones...">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>