<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas/Secciones</title>
    <link rel="stylesheet" href="/public/css/globalStyle.css">
    <link rel="stylesheet" href="/public/css/aulasSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>USUARIO: </h3>
                </div>
                <ul>
                    <li><a href="/secretario/perfil">Perfil</a></li>
                    <li><a href="/secretario/aulas">Aulas/Secciones</a></li>
                    <li><a href="/secretario/matriculas">Matriculas</a></li>
                    <li><a href="/secretario/registrar_matricula">Registrar Matricula</a></li>
                    <li><a href="/secretario/anio_academico">Año Academico</a></li>
                    <li><a href="/secretario/periodos">Periodos</a></li>
                    <li><a href="/secretario/mensualidades">Mensualidades</a></li>
                    <li><a href="/secretario/estudiantes">Estudiantes</a></li>
                    <li><a href="/secretario/descuentos">Descuentos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
                <a href="/secretario/descuentos/crear"><button>Crear Descuento</button></a>
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>LISTA DE DESCUENTOS</h1>
                </div>
                <div>
                    <form action="" id="form-editar-descuento">
                        <label for="nombre_desc">Nombre descuento</label>
                        <input type="text"  name="nombre_desc" placeholder="Nombre descuento...">
                        <label for="">Porcentaje descuento</label>
                        <input type="number" name="porcentaje_desc" placeholder="Porcentaje descuento..." step="0.01">
                        <label for="">Fecha limite</label>
                        <input type="date" name="fecha_limite" placeholder="Fecha limite...">
                        <label for="">Descripcion</label>
                        <input type="text" name="descripcion_desc" placeholder="Descripcion...">
                        <button type="submit">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/api/user_secretario/apiDescuentos.js"></script>
</body>

</html>