<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas/Secciones</title>
    <link rel="stylesheet" href="/public/css/globalStyle.css">
    <link rel="stylesheet" href="/public/css/aulasSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>USUARIO: </h3>
                </div>
                <ul>
                    <li><a href="/secretario/perfil">Perfil</a></li>
                    <li><a href="/secretario/aulas">Aulas/Secciones</a></li>
                    <li><a href="/secretario/matriculas">Matriculas</a></li>
                    <li><a href="/secretario/registrar_matricula">Registrar Matricula</a></li>
                    <li><a href="/secretario/anio_academico">Año Academico</a></li>
                    <li><a href="/secretario/periodos">Periodos</a></li>
                    <li><a href="/secretario/mensualidades">Mensualidades</a></li>
                    <li><a href="/secretario/estudiantes">Estudiantes</a></li>
                    <li><a href="/secretario/descuentos">Descuentos</a></li>
                    <li><a href="/secretario/definir_monto">Definir Montos</a></li>
                    <li><a href="/secretario/pagos">Pagos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
                <!-- <a href="/secretario/aulas/grados/crear"><button>Crear Grado</button></a> -->
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>LISTA DE TODOS LOS GRADOS</h1>
                </div>
                <div>
                    <form id="form-editar-grado">
                        <input type="text" name="nombre_grad" placeholder="Nombre del grado" required>
                        <label for="select-nivel">Nivel:</label>
                        <select name="niveles_id_nivel" required id="select-nivel"></select>
                        <button type="submit">Guardar</button>
                    </form>
                    <script src="/js/api/user_secretario/apiGrados.js"></script>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/api/user_secretario/apiGrados.js"></script>
</body>

</html>