<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas/Secciones</title>
    <link rel="stylesheet" href="/css/globalStyle.css">
    <link rel="stylesheet" href="/css/aulasSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>USUARIO: </h3>
                </div>
                <ul>
                    <li><a href="/secretario/perfil">Perfil</a></li>
                    <li><a href="/secretario/aulas">Aulas/Secciones</a></li>
                    <li><a href="/secretario/matriculas">Matriculas</a></li>
                    <li><a href="/secretario/registrar_matricula">Registrar Matricula</a></li>
                    <li><a href="/secretario/anio_academico">Año Academico</a></li>
                    <li><a href="/secretario/periodos">Periodos</a></li>
                    <li><a href="/secretario/mensualidades">Mensualidades</a></li>
                    <li><a href="/secretario/estudiantes">Estudiantes</a></li>
                    <li><a href="/secretario/descuentos">Descuentos</a></li>
                    <li><a href="/secretario/definir_monto">Definir Montos</a></li>
                    <li><a href="/secretario/pagos">Pagos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
                <a href="/secretario/aulas/aulas/crear"><button>Crear Aula</button></a>
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>LISTA DE TODAS LAS AULAS</h1>
                </div>
                <div>
                    <form id="form-editar-aula">
                        <input type="number" name="capacidad_maxima" placeholder="Capacidad máxima" required>
                        <label for="estado">Estado</label>
                        <select name="estado" id="estado" required>
                            <option value="inactivo">Inactivo</option>
                            <option value="incompleto">Incompleto</option>
                            <option value="completo">Completo</option>
                        </select>
                        <button type="submit">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/js/api/user_secretario/apiAulas.js"></script>
</body>

</html>