<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas/Secciones</title>
    <link rel="stylesheet" href="/public/css/globalStyle.css">
    <link rel="stylesheet" href="/public/css/aulasSecretario.css">
</head>

<body>
    <div class="content">
        <div class="side-menu">
            <nav>
                <div class="title-menu">
                    <h3>USUARIO: </h3>
                </div>
                <ul>
                    <li><a href="/secretario/perfil">Perfil</a></li>
                    <li><a href="/secretario/aulas">Aulas/Secciones</a></li>
                    <li><a href="/secretario/matriculas">Matriculas</a></li>
                    <li><a href="/secretario/registrar_matricula">Registrar Matricula</a></li>
                    <li><a href="/secretario/anio_academico">Año Academico</a></li>
                    <li><a href="/secretario/periodos">Periodos</a></li>
                    <li><a href="/secretario/mensualidades">Mensualidades</a></li>
                    <li><a href="/secretario/estudiantes">Estudiantes</a></li>
                    <li><a href="/secretario/descuentos">Descuentos</a></li>
                    <li><a href="/secretario/definir_monto">Definir Montos</a></li>
                </ul>
            </nav>
        </div>
        <div class="main-content">
            <div class="upper-body">
                <a href="/secretario/periodos/crear"><button>Crear Periodo Academico</button></a>
            </div>
            <div class="lower-body">
                <div class="title-lower-body">
                    <h1>PERIODOS ACADEMICOS</h1>
                </div>
               <div>
                <form action="" id="form-crear-periodo">
                    <label for="nombre">Nombre del Periodo:</label>
                    <input type="text" id="nombre" name="nombre_per" required>

                    <label for="fecha_inicio">Fecha de Inicio:</label>
                    <input type="date" id="fecha_inicio" name="fecha_inicio_per" required>

                    <label for="fecha_fin">Fecha de Fin:</label>
                    <input type="date" id="fecha_fin" name="fecha_fin_per" required>
                    <label for="anio_academico_id_anio_escolar">Año Academico:</label>
                    <select id="anio_academico_id_anio_escolar" name="anio_academico_id_anio_escolar"></select>
                    <label for="estado">Estado:</label>
                    <select id="estado" name="estado_per" required>
                        <option value="Activo">Activo</option>
                        <option value="Inactivo">Inactivo</option>
                        <option value="Culminado">Culminado</option>
                    </select>

                    <button type="submit">Crear Periodo</button>
                </form>
               </div>
            </div>
        </div>
    </div>
    <script src="/js/api/user_secretario/apiPeriodos.js"></script>
</body>

</html>